@mixin btn-style($customWidth, $bgclr, $border, $baseColor) {
  width: $customWidth;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  // color: #062931;
  outline: none;    
  border: $border $baseColor;
  background-color: $bgclr;
  color: $baseColor;
  cursor: pointer;
}